<div class="row">
  <div class="col-xs-12 col-sm-8">
    <h2>Real time data from sensors</h2>
		<p>
      SensorsBox exposes an API to Raspberry Pi's sensors.<br />
      Building your application is as simple as selecting a box and pasting a few lines of code
      </p>
      <a class="btn btn-primary btn-lg btn-block" hm-tap="utils.locationPath('guide')" >Installation guide</a>
	</div>
	<div class="col-xs-12 col-sm-4">
    <h2>Browse boxes</h2>
    <p>Find the box you need to build your application</p>
    <a class="btn btn-primary btn-lg btn-block" hm-tap="utils.locationPath('box')" >Browse boxes</a>
    <div ng-show="!user">
      <h3>Want your own box?</h3>
      <p>Create an account on our platform</p>
      <div class="btn-group btn-group-justified">
        <a class="btn btn-primary btn-lg" hm-tap="utils.locationPath('user/signin')" >Sign in</a>
        <a class="btn btn-default btn-lg" hm-tap="utils.locationPath('user/signup')" >Sign up</a>
      </div>
    </div>
	</div>
</div>
