language: node_js
node_js:
  - "0.10"
before_script:
  - npm install -g bower grunt-cli
  - gem install compass
  - sudo add-apt-repository ppa:git-core/ppa -y
  - sudo apt-get update
  - sudo apt-get install git -y
  - yes | git remote rm heroku
  - yes | git remote add heroku git@heroku.com:sensorsbox.git -y
script: make ci
deploy:
  provider: heroku
  api_key: "b03e0b3607d340e59abe4dc5057086b90131caa0"