<div style="padding-top: 10px">
  <div class="list-group">
      <a class="list-group-item" ng-click="utils.locationPath('')">
        <i class="fa fa-home"></i>&nbsp;&nbsp;Home
      </a>
      <a class="list-group-item" ng-click="utils.locationPath('guide')">
        <i class="fa fa-magic"></i>&nbsp;&nbsp;Get Started</a>
      <a class="list-group-item" ng-click="utils.locationPath('reference')">
        <i class="fa fa-book"></i>&nbsp;&nbsp;Reference</a>
      <a class="list-group-item" ng-click="utils.locationPath('box')">
        <i class="fa fa-cube"></i>&nbsp;&nbsp;Boxes</a>
      <a class="list-group-item" ng-click="utils.locationPath('sensor')">
        <i class="fa fa-tag"></i>&nbsp;&nbsp;Sensors</a>
  </div>
</div>
