<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/components-font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="bower_components/nvd3/src/nv.d3.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <link rel="stylesheet" href="bower_components/snapjs/snap.css" media="(max-width: 728px)" />

    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

  </head>
  <body ng-app="sensorsboxclientApp">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div ng-if="state.isMobile">
      <layoutmobile></layoutmobile>
    </div>
    <div ng-if="!state.isMobile">
      <layoutdesktop></layoutdesktop>
    </div>

    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/angular-gestures/gestures.js"></script>
    <script src="bower_components/snapjs/snap.js"></script>
    <script src="bower_components/sails.io.js/dist/sails.io.js"></script>
    <script src="bower_components/d3/d3.js"></script>
    <script src="bower_components/nvd3/nv.d3.js"></script>
    <script src="bower_components/angularjs-nvd3-directives/dist/angularjs-nvd3-directives.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!--     <script src="bower_components/socket.io-client/dist/socket.io.min.js"></script> -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>

    <script src="scripts/services/utils.js"></script>
    <script src="scripts/services/connection.js"></script>
    <script src="scripts/services/state.js"></script>
    <script src="scripts/services/initialisation.js"></script>
    <script src="scripts/services/user.js"></script>
    <script src="scripts/services/constants.js"></script>
    <script src="scripts/services/architecture.js"></script>

    <script src="scripts/directives/layout/mobile.js"></script>
    <script src="scripts/directives/layout/desktop.js"></script>
    <script src="scripts/directives/navigation/mobile.js"></script>
    <script src="scripts/directives/navigation/desktop.js"></script>
    <script src="scripts/directives/header/mobile.js"></script>
    <script src="scripts/directives/header/desktop.js"></script>
    <script src="scripts/directives/spinner.js"></script>
    <script src="scripts/directives/alerts.js"></script>
    <script src="scripts/directives/breadcrumb.js"></script>

    <script src="scripts/controllers/home.js"></script>
    <script src="scripts/controllers/guide.js"></script>
    <script src="scripts/controllers/user/signin.js"></script>
    <script src="scripts/controllers/user/signup.js"></script>
    <script src="scripts/controllers/user/edit.js"></script>

    <script src="scripts/routes/box.js"></script>
    <script src="scripts/services/box.js"></script>
    <script src="scripts/controllers/box/all.js"></script>
    <script src="scripts/controllers/box/create.js"></script>
    <script src="scripts/controllers/box/show.js"></script>
    <script src="scripts/controllers/box/edit.js"></script>

    <script src="scripts/routes/sensor.js"></script>
    <script src="scripts/services/sensor.js"></script>
    <script src="scripts/controllers/sensor/all.js"></script>
    <script src="scripts/controllers/sensor/create.js"></script>
    <script src="scripts/controllers/sensor/show.js"></script>
    <script src="scripts/controllers/sensor/edit.js"></script>

    <!-- endbuild -->

</body>
</html>
