<div class="row">
  <div class="col-xs-12 col-lg-6">
    <h1><i class="fa fa-tag"></i> Add sensor</h1>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Settings</h3>
      </div>
      <div class="panel-body">
        <form name="myForm">
          <div class="form-group">
            <label>Box</label>
            <div>
              <select class="form-control" ng-model="sensor.box" placeholder="Name" required>
                <option ng-repeat="box in boxs | filter:{owner:user.id}" value="{{box.id}}">{{box.name}}</option>
              </select>
            </div>
          </div>
        	<div class="form-group">
        		<label>Name</label>
        		<div>
        			<input class="form-control" type="text" ng-model="sensor.name" placeholder="Name" required></div>
        	</div>
        	<div class="form-group">
        		<label>Description</label>
        		<div>
        			<textarea class="form-control" ng-model="sensor.description" placeholder="Description"></textarea>
        		</div>
        	</div>
          <div class="form-group">
            <label>Pin</label>
            <div>
              <input class="form-control" type="number" ng-model="sensor.pin" placeholder="Pin" min="3" max="20" required>
            </div>
          </div>
          <div class="form-group">
            <label>Record Frequency</label>
            <div>
              <input class="form-control" type="number" ng-model="sensor.recordFrequency" placeholder="Record Frequency">
            </div>
          </div>
          <div class="form-group">
            <label>Measure Frequency</label>
            <div>
              <input class="form-control" type="range" min="100" max="10000" ng-model="sensor.measureFrequency" placeholder="Measure Frequency">
              <span></span>
            </div>
          </div>
        	<div class="form-group">
        		<button type="submit" class="btn btn-primary btn-lg btn-block" ng-click="addSensor(sensor)">Add sensor</button>
        	</div>
        </form>
      </div>
    </div>
  </div>
</div>

