<h2 ng-bind="sensor.name">Sensor</h2>
<form>
  <div class="form-group">
    <label>Box</label>
    <div>
      <select class="form-control" ng-model="sensor.box" placeholder="Name">
        <option ng-repeat="box in boxs" value="{{box.id}}">{{box.name}}</option>
      </select>
    </div>
  </div>
	<div class="form-group">
		<label>Name</label>
		<div>
			<input class="form-control" type="text" ng-model="sensor.name" placeholder="Name"></div>
	</div>
	<div class="form-group">
		<label>Description</label>
		<div>
			<textarea class="form-control" ng-model="sensor.description" placeholder="Description"></textarea>
		</div>
	</div>
  <div class="form-group">
    <label>Pin</label>
    <div>
      <input class="form-control" type="text" ng-model="sensor.pin" placeholder="Pin">
    </div>
  </div>
  <div class="form-group">
    <label>Record Frequency</label>
    <div>
      <input class="form-control" type="text" ng-model="sensor.recordFrequency" placeholder="Record Frequency">
    </div>
  </div>
	<div class="form-group">
		<button type="submit" class="btn btn-primary btn-lg btn-block" ng-click="updateSensor(sensor)">Update sensor</button>
	</div>
</form>
