<div class="row">
  <div class="col-xs-12 col-lg-6">
    <h2><i class="fa fa-tag"></i> {{sensor.name}}</h2>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Settings</h3>
      </div>
      <div class="panel-body">
        <form>
          <div class="form-group">
            <label>Box</label>
            <div>
              <select class="form-control" ng-model="sensor.box" placeholder="Name">
                <option ng-repeat="box in boxs | filter:{owner:user.id}" value="{{box.id}}">{{box.name}}</option>
              </select>
            </div>
          </div>
        	<div class="form-group">
        		<label>Name</label>
        		<div>
        			<input class="form-control" type="text" ng-model="sensor.name" placeholder="Name"></div>
        	</div>
        	<div class="form-group">
        		<label>Description</label>
        		<div>
        			<textarea class="form-control" ng-model="sensor.description" placeholder="Description"></textarea>
        		</div>
        	</div>
          <div class="form-group">
            <label>Pin</label>
            <select class="form-control" ng-model="sensor.pin" ng-options="number for number in [0,1,2,3,4,5,6,7]">
            </select>
          </div>
          <div class="form-group">
            <label>Record Frequency:&nbsp;&nbsp;&nbsp;&nbsp;{{sensor.recordFrequency}} ms</label>
            <div>
              <input type="range" min="5000" max="100000" step="1000"  ng-model="sensor.recordFrequency">
            </div>
          </div>
          <div class="form-group">
            <label>Measure Frequency:&nbsp;&nbsp;{{sensor.measureFrequency}} ms</label>
            <div>
              <input type="range" min="100" max="10000" step="100" ng-model="sensor.measureFrequency">
            </div>
          </div>
        	<div class="form-group">
        		<button type="submit" class="btn btn-primary btn-lg btn-block" ng-click="updateSensor(sensor)">Update sensor</button>
        	</div>
        </form>
      </div>
    </div>
  </div>
</div>

