<div class="container-fluid">
  <headerdesktop></headerdesktop>
  <div class="row">
    <div class="col-xs-3 col-lg-2" style="position: fixed;background:#f8f8f8;height:100%;padding-top:60px;border-right:1px solid #e7e7e7">
      <navigationdesktop></navigationdesktop>
    </div>
    <div class="col-xs-9 col-xs-push-3 col-lg-10 col-lg-push-2" style="padding-top:60px">
      <div style="padding-top: 10px">
        <breadcrumb></breadcrumb>
        <alerts></alerts>
        <div ng-view="" class="vkView clearfix"></div>
        <spinner></spinner>
      </div>
    </div>
  </div>


</div>
